@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --chart-backgroundColor: #ef44449f;
  --chart-pointBackgroundColor: #f16363;
}

body {
  display: grid;
  background-color: pink;
  color: snow;
  min-height: 100vh;
  overflow-x: hidden;
}
a {
  border-bottom: 2px solid transparent;
  transition: border-bottom, color, 300ms ease-in-out;
  font-weight: 900;
}
a.active {
  color: orange;
  border-bottom: 2px solid orange;
}
a:hover {
  color: orange;
  border-bottom: 2px solid orange;
}
